.bodystyl {
    background: #F0FFFF;
    width: 100%;
}

.daria {
    background: #FF69B4;
}

.ryhor {
    background: #FFFF00;
}

.maria {
    background: #DA70D6 ;
}

.nikita {
    background: #87CEFA;
}

.evgen {
    background: #6B8E23;
}

